jupyter==1.0.0
sqlfluff==2.3.2
great-expectations==0.17.21
pandas==2.0.0
ydata-profiling==4.6.1
pytest==7.4.4
dvc==3.38.1
black==23.12.1
mkdocs==1.5.3
mkdocs-jupyter==0.24.6
mkdocs-autorefs==0.5.0
mkdocs-callouts==1.9.1
mkdocs-material==9.4.2
mkdocs-material-extensions==1.2
mkdocstrings==0.23.0
mkdocstrings-python==1.7.0
pymdown-extensions==10.7
mlflow==2.11.0
scikit-learn==1.4.1.post1
plotly-express==0.4.1
